body {
    color: blueviolet;
    background-color: burlywood;
}

.blue {
    color: blue;
}

.green {
    color: green;
    font-size: 12px;
}
.black{
    color:black;
}
.red{
    color:red;
    background-color: blanchedalmond;
    text-align: center;
    
}

.text_effect{
    font-weight: 900;
    font-size: 20px;
    color:coral;
    text-shadow: 5px 5px 5px black;

}